$green: #00cd3c;
$black: #000;
$gray: #7f7f7f;
$white-gray: #e0e0e0;
$white: #fff;
$transparent: #ffffff00;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.highlight {
  color: $green;
}

.tr-mask {
  overflow: hidden;
}

.main-text:not(.title) {
  font-size: 52px;
  font-weight: 800;
  line-height: 70px;
}

.title {
  font-size: 60px;
  font-weight: 800;
  line-height: 78px;
  text-align: center;
}

.sub-text {
  margin-top: 26px;
  font-size: 28px;
  line-height: 40px;
  color: $gray;
  text-align: center;
}

.text-top,
.text-bottom {
  display: block;
}
