$green: #00cd3c;
$black: #000;
$gray: #7f7f7f;
$white-gray: #e0e0e0;

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.highlight {
  color: $green;
}

.tr-mask {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}
