.section-08 {
  &.is-active {
    .tr-01 {
      animation: up 1s forwards;
    }

    .tr-02 {
      animation: up 1s forwards;

      .device-cell-img {
        opacity: 1;
      }
    }
  }

  .tr-01 {
    opacity: 0;
    transform: translateY(40%);
  }

  .tr-02 {
    opacity: 0;
    transform: translateY(20%);

    .device-cell-img {
      opacity: 0;
      transform: translate(-50%, -50%);
      transition: opacity 1s;
    }
  }

  .section-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1024px;
    gap: 160px;
  }

  .main-text {
    margin-top: -300px;
  }

  .device-content {
    position: relative;
    width: 432px;
  }

  .device-frame-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .device-cell-img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 332px;
  }

  .count-list {
    position: absolute;
    top: 275px;
    right: 30px;
    text-align: right;

    li {
      height: 80px;
      font-size: 18px;
      font-weight: 800;
      line-height: 80px;
      color: $gray;
    }
  }
}
