.section-06 {
  &.is-active {
    .tr {
      opacity: 1;
    }
  }

  .tr {
    opacity: 0;
    transition: opacity 1s;
  }

  .section-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 768px;
    text-align: center;
  }

  .main-text {
    margin-top: 100px;
  }
}
