.section-01 {
  .section-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1024px;
    background: url('assets/s01_img_cover_02.webp') no-repeat;
    background-size: contain;
    object-fit: cover;
  }

  .main-text {
    margin-top: -100px;
  }

  .text-top,
  .text-bottom {
    opacity: 0;
    transform: translateY(70%);

    &.text-up {
      animation: textUp 700ms ease forwards;
    }
  }

  .text-bottom {
    position: relative;

    &.text-up {
      animation-delay: 500ms;
    }
  }

  .badge {
    position: absolute;
    top: -15px;
    right: -60px;
    font-size: 15px;
    font-style: italic;
  }
}
