.section-04 {
  width: 100%;
  // height: 200vh; // css 경우
  // min-height: 2048px; // css 경우

  .tr-01,
  .tr-02 {
    color: $white;
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s;
  }

  &.is-active {
    .tr-01 {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.scroll-down {
    .tr-mask:first-child {
      overflow: visible;
    }

    .tr-01 {
      color: $black;
      opacity: 0;
      transform: translateY(-100%);
    }

    .tr-02 {
      color: $black;
      opacity: 1;
      transform: translateY(0);
    }

    .video-box {
      top: 7%;
      left: 50%;
      width: 432px;
      height: 830px;
      border-top-right-radius: 32px;
      border-top-left-radius: 32px;
      transform: scale(0.79, 0.8);
      transform-origin: top;
    }

    .device-frame {
      opacity: 1;
    }

    .video-02 {
      transform: translateX(-100%);
      transition: transform 1s 2s;
    }

    .video-03 {
      transform: translateX(-200%);
      transition: transform 1s 3s;
    }

    .video-01-overlay {
      animation: opacity 1s 1s;
    }

    .video-02-overlay {
      animation: opacity 1s 2.5s;
    }

    .video-03-overlay {
      animation: opacity 1s 3.5s forwards;
    }
  }

  &.scroll-up {
    .tr-mask:first-child {
      overflow: visible;
    }

    .tr-01 {
      opacity: 1;
      transform: translateY(0);
    }

    .tr-02 {
      transform: translateY(100%);
    }

    .device-frame {
      transition: none;
    }
  }

  .section-inner {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
  }

  .text-top {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
  }

  .text-bottom {
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 1;
    overflow: hidden;
  }

  .visual-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s;
  }

  .video-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1s;

    video {
      display: block;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .device-frame {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 432px;
    height: 830px;
    opacity: 0;
    transition: opacity 1s;

    .device-frame-img {
      width: 100%;
      height: 100%;
    }

    .device-screen {
      position: absolute;
      top: 27px;
      left: 50%;
      width: 336px;
      height: 731px;
      overflow: hidden;
      border-radius: 32px;
      transform: translateX(-50%);
    }

    .screen-img,
    .device-tabbar-img {
      position: absolute;
      display: block;
      width: 100%;
    }

    .screen-img {
      top: 0;
      opacity: 0;
    }

    .device-tabbar-img {
      bottom: 0;
    }

    .progress-bar {
      position: absolute;
      bottom: 119px;
      width: 100%;
      height: 2px;
      background: $green;
    }
  }
}
