.section-01 {
  .tr {
    opacity: 0;
    transform: translateY(70%);
  }

  &.is-active {
    .tr {
      animation: up 700ms ease forwards;
    }

    .tr-02 {
      animation-delay: 500ms;
    }
  }

  .section-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1024px;
    background: url('assets/s01_img_cover_02.webp') no-repeat;
    background-size: contain;
    object-fit: cover;
  }

  .main-text {
    margin-top: -100px;
  }

  .text-bottom {
    position: relative;
  }

  .badge {
    position: absolute;
    top: -15px;
    right: -60px;
    font-size: 15px;
    font-style: italic;
  }
}
