.section-03 {
  .tr {
    transform: translateY(100%);
  }

  &.is-active {
    .tr {
      animation: up 250ms linear forwards;
    }
  }

  .section-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1024px;
    gap: 80px;
  }

  .main-text {
    text-align: center;
  }

  .slide-top-wrapper,
  .slide-bottom-wrapper {
    display: flex;
  }

  .visual-content {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        $white,
        $transparent 6%,
        $transparent 94%,
        $white 100%
      );
      content: '';
    }
  }

  .slide-top,
  .slide-bottom {
    display: flex;

    li {
      position: relative;
      flex-shrink: 0;
      width: 262px;
      height: 262px;
      margin: 0 -10px;
      overflow: hidden;

      &.cover {
        &::after,
        & > img {
          position: absolute;
          top: 9px;
          left: 23px;
          width: 216px;
          height: 216px;
          border-radius: 6px;
        }

        &::after {
          background: url('assets/s03_img_cover_ovl.png') no-repeat;
          background-size: contain;
          content: '';
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  .slide-top {
    &:first-child {
      animation: slide-forward 120s linear reverse infinite;
    }

    &:last-child {
      animation: slide-forward-clone 120s linear reverse infinite;
    }
  }

  .slide-bottom {
    &:first-child {
      animation: slide-forward 120s linear infinite;
    }

    &:last-child {
      animation: slide-forward-clone 120s linear infinite;
    }
  }
}
